@mixin font-face($font-family, $file-name, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-display: swap;
    font-family: #{$font-family};
    font-style: $font-style;
    font-weight: $font-weight;
    src:
      local("#{$file-name}"),
      url("../fonts/#{$file-name}.woff2") format("woff2");
  }
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin abs-center {
  left: 50%;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
}

@mixin flex-center($isInline: false) {
  align-items: center;

  justify-content: center;
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }
}
