<div class="acc-details acc-details_advance">
  <details>
    <summary>How much does Medicare Part B cost?</summary>
    <div class="details-content">
      <h5>Begins: when your out-of-pocket costs reach $2,000 on covered drugs.</h5>
      <p>
        Medicare Part B recipients pay a monthly Part B premium. The price of the Part B premium is dependent on the
        your annual income (as indicated on your individual or joint tax return). The standard Part B premium amount in
        2025 is $185. Most people pay the standard Part B premium amount however if your modified adjusted gross income
        as reported on your IRS tax return from 2 years ago is above a certain amount, you’ll pay the standard premium
        amount and an Income Related Monthly Adjustment Amount (IRMAA). IRMAA is an extra charge added to your premium.
        Also, it’s important to know that there is a deductible that individuals are required to pay before Medicare
        begins to pay their share of all services covered by Medicare Part B. After the deductible is paid, recipients
        pay 20% of what Medicare deems to be a “reasonable charge” while Medicare pays the remaining 80%. In 2025, the
        deductible amount is $257.
      </p>
    </div>
  </details>
  <details>
    <summary>How much does Medicare Part B cost?</summary>
    <div class="details-content">
      <h5>Begins: when your out-of-pocket costs reach $2,000 on covered drugs.</h5>
      <p>
        Medicare Part B recipients pay a monthly Part B premium. The price of the Part B premium is dependent on the
        your annual income (as indicated on your individual or joint tax return). The standard Part B premium amount in
        2025 is $185. Most people pay the standard Part B premium amount however if your modified adjusted gross income
        as reported on your IRS tax return from 2 years ago is above a certain amount, you’ll pay the standard premium
        amount and an Income Related Monthly Adjustment Amount (IRMAA). IRMAA is an extra charge added to your premium.
        Also, it’s important to know that there is a deductible that individuals are required to pay before Medicare
        begins to pay their share of all services covered by Medicare Part B. After the deductible is paid, recipients
        pay 20% of what Medicare deems to be a “reasonable charge” while Medicare pays the remaining 80%. In 2025, the
        deductible amount is $257.
      </p>
    </div>
  </details>
  <details>
    <summary>How much does Medicare Part B cost?</summary>
    <div class="details-content">
      <h5>Begins: when your out-of-pocket costs reach $2,000 on covered drugs.</h5>
      <p>
        Medicare Part B recipients pay a monthly Part B premium. The price of the Part B premium is dependent on the
        your annual income (as indicated on your individual or joint tax return). The standard Part B premium amount in
        2025 is $185. Most people pay the standard Part B premium amount however if your modified adjusted gross income
        as reported on your IRS tax return from 2 years ago is above a certain amount, you’ll pay the standard premium
        amount and an Income Related Monthly Adjustment Amount (IRMAA). IRMAA is an extra charge added to your premium.
        Also, it’s important to know that there is a deductible that individuals are required to pay before Medicare
        begins to pay their share of all services covered by Medicare Part B. After the deductible is paid, recipients
        pay 20% of what Medicare deems to be a “reasonable charge” while Medicare pays the remaining 80%. In 2025, the
        deductible amount is $257.
      </p>
    </div>
  </details>
</div>
