<div class="acc-list">
  <h4>BENEFITS OF A GROUP PLAN FOR RETIREES:</h4>
  <ul>
    <li>Huge potential cost savings & value adds</li>
    <li>Access to a large network of providers</li>
    <li>Dedicated customer service team on the account, no more hassling with tele-sales</li>
    <li>
      Flexibility to be covered anywhere in the U.S. and options for foreign travel emergency choice of plans to best
      suit their needs and budgets
    </li>
    <li>No copays, deductibles or co-insurance</li>
  </ul>
</div>
