<div class="acc-content">
  <h4>A Medicare Supplement Plan, also known as a Medigap Policy</h4>
  <p>
    A Medicare Supplement Plan, also known as a Medigap Policy, is designed to help pay forsome of the costs that
    Original Medicare does not cover Medicare Supplement Plans are offered by private insurance companies and available
    to individuals who are eligible for Medicare. A Medicare Supplement Plan will help limit out-of-pocket medical
    expenses such as copayments, coinsurance and deductibles.
  </p>
  <img src="/images/acc-image.png" alt="" loading="lazy" />
</div>
