<div class="acc-base">
  <h3>Key Benefits</h3>
  <ul>
    <li>Inpatient care in hospitals</li>
    <li>Hospice care</li>
    <li>Skilled nursing facility care</li>
    <li>Home health services and nursing home care (if deemed medically necessary)</li>
    <li>
      <strong>Catastrophic Coverage</strong>
      : Beginning in 2025, Medicare plans feature a $2,000 annual limit on prescription drug out-of-pocket expenses.
      After reaching this threshold, you'll have no additional costs for covered Part D medications through the end of
      that calendar year.
    </li>
  </ul>
</div>
