<footer class="footer" id="contact-us">
  <div class="footer__container container">
    <div class="footer__main">
      <div class="footer__column footer__column_about">
        <div class="footer__about">
          <h2 class="footer__title">JUSTIN SCHEINER</h2>
          <img src="/images/justin.png" alt="" class="footer__about-img" />
        </div>
      </div>
      <div class="footer__column footer__column_navigation">
        <h2 class="footer__title">NAVIGATION</h2>
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#about" class="footer__nav-link">About</a>
            </li>
            <li class="footer__nav-item">
              <a href="#our-process" class="footer__nav-link">Our process</a>
            </li>
            <li class="footer__nav-item">
              <a href="#medigaprx" class="footer__nav-link">MedigapRx</a>
            </li>
            <li class="footer__nav-item">
              <a href="#contact-us" class="footer__nav-link">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__column footer__column_contacts">
        <h2 class="footer__title">CONTACT US</h2>
        <div class="footer__contacts-container">
          <div class="footer__contacts">
            <a href="#" class="footer__contacts-number">(954) 737-7877</a>
            <a href="#" class="footer__contacts-email">support@medigaprx.com</a>
          </div>
          <div class="footer__socials">
            <a href="#" class="footer__socials-link">
              <img src="/images/facebook.svg" alt="Facebook" class="footer__socials-icon" />
            </a>
            <a href="#" class="footer__socials-link">
              <img src="/images/Linkedin.svg" alt="LinkedIn" class="footer__socials-icon" />
            </a>
          </div>
        </div>
      </div>
      <div class="footer__column footer__column_locations">
        <h2 class="footer__title">LOCATIONS</h2>
        <div class="footer__locations">
          <p>
            401 East Las Olas Boulevard <br />
            Suite 1400 <br />
            Fort Lauderdale, FL 33301
          </p>
          <p>
            745 5th Ave, <br />
            Suite 500 <br />
            New York, NY 10151
          </p>
        </div>
      </div>
      <div class="footer__column footer__column_badges">
        <div class="footer__badges">
          <img src="/images/badge1.png" alt="" class="footer__badges-img" />
          <img src="/images/badge2.png" alt="" class="footer__badges-img" />
          <img src="/images/badge3.png" alt="" class="footer__badges-img" />
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <p>© 2025 MedigapRx. Website by <a href="#">Curis Digital</a></p>
    </div>
    <div class="footer__disclaimer">
      <p>
        We do not offer every plan available in your area. Currently we represent 10 organizations which offer 692
        products in all areas. <br> Please contact medicare.gov, 1-800-MEDICARE, or your State Health Insurance Program
        (SHIP) to get information on all your options.
      </p>
    </div>
  </div>
</footer>

<a href="#top" title="Back to top" aria-label="Back to top" data-js-to-top-button class="to-top-button">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
  </svg>
</a>
