@use "../helpers/" as *;

.acc-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: fluid(16, 32) rem(20);
  padding: fluid(24, 32) rem(15);

  @include small {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: rem(470)) {
    grid-template-columns: 1fr;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  &__item-image {
    width: 100%;
    height: fluid(200, 384);
    margin-bottom: fluid(16, 24);
    object-fit: cover;
    border-radius: rem(24);
  }

  &__item-title {
    margin-bottom: fluid(8, 12);
    font-size: fluid(16, 24);
  }
}