@use "../helpers/" as *;

.acc-grid {
  display: grid;
  gap: fluid(16, 32) rem(20);
  grid-template-columns: repeat(3, 1fr);
  padding: fluid(24, 32) rem(15);

  &__item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  &__item-image {
    border-radius: rem(24);
    height: 100%;
    margin-bottom: fluid(16, 24);
    object-fit: cover;
    width: 100%;
    @media (max-width: rem(470)) {
      height: rem(200);
    }
  }

  &__item-title {
    font-size: fluid(16, 24);
    margin-bottom: fluid(8, 12);
  }

  &__item-text {
  }
  @include small {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: rem(470)) {
    grid-template-columns: 1fr;
  }
}
