@use "../helpers/" as *;

.base-row {
  &.base-row_reverse {
    .base-row__container {
      flex-direction: row-reverse;
      @include medium {
        flex-direction: column-reverse;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    gap: fluid(30, 93);
    justify-content: space-between;

    @include medium {
      flex-direction: column-reverse;
    }
  }

  &__image {
    img {
      border-radius: rem(16);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    flex: 0 1 50%;
    @include medium {
      flex: 0 1 50%;
    }
  }

  &__content {
    flex: 0 1 50%;
    @include medium {
      flex: 0 1 50%;
    }
  }
}
