@use "../helpers/" as *;

.buttons {
  display: flex;
  gap: rem(12) rem(16);
  @include x-small {
    flex-direction: column;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: max-content;
  padding: rem(12) rem(32);
  font-size: rem(18);
  font-weight: 400;
  line-height: 1.22;
  color: var(--color-white);
  text-align: center;
  border-radius: rem(8);
  transition: opacity 0.3s ease;

  &_primary {
    background-color: var(--color-primary);
  }

  &_secondary {
    background-color: var(--color-secondary);
  }

  @include x-small {
    max-width: 100%;
  }
  @include hover {
    opacity: 0.7;
  }
}
