@use "../helpers/" as *;

.column-tabs {

  ul {
    li {
      display: flex;
      align-items: center;
      column-gap: rem(13);
      &::before {
        flex-shrink: 0;
        content: "";
        width: 1.25rem;
        height: 1rem;
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2216%22%20viewBox%3D%220%200%2021%2016%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M20.33%201.743a1.88%201.88%200%200%200-.624-1.284%201.73%201.73%200%200%200-1.344-.451%201.8%201.8%200%200%200-1.272.618l-9.6%2010.693-4.392-3.945A1.84%201.84%200%200%200%201.754%206.9a1.8%201.8%200%200%200-1.272.594%201.8%201.8%200%200%200-.48%201.33c.024.5.24.951.6%201.26l5.784%205.204c.336.31.792.475%201.248.475h.12c.48-.023.936-.237%201.296-.617L19.898%203.05c.288-.357.456-.832.432-1.307%22%20fill%3D%22%236dbf46%22%2F%3E%3C%2Fsvg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }


  &__container {
  }

  &__title {
    text-align: center;
  }

  &__row {
    display: flex;
    column-gap: rem(30);

    @include medium {
      flex-direction: column;
    }
  }





  &__buttons {
    flex-basis: 50%;
  }

  &__button {
    font-size: fluid(18, 32);
    font-weight: 700;
    line-height: 1.25;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: fluid(10, 20);
    padding: rem(32) rem(16);
    position: relative;
    margin-bottom: rem(24);
    border-top: rem(3) solid var(--color-secondary-light);

    @include medium {
      margin-bottom: 0;
      padding: rem(16);
    }

    &.is-active {
      border-top-color: transparent;

      @include medium {
        background-color: var(--color-secondary-light);
      }
      &::after {
        background-color: var(--color-secondary-light);
      }

      .column-tabs__icon {
        background-color: var(--color-primary);
        span {
          background-color: var(--color-white);
          &.ver {
            transform: translate(-50%, -50%) rotate(0);
          }
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 400%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      transition: background-color 0.3s ease;
      @include medium {
        display: none;
      }
    }
  }

  &__icon {
    width: fluid(40, 60) !important;
    height: fluid(40, 60) !important;
    flex-shrink: 0;
  }

  &__content {
    display: none;
    flex-basis: 50%;

    &.is-active {
      display: block;
    }

 
  }

  &__item-container {
    display: none;

    @include medium {
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
  }

  &__content-inner {
    p {
      line-height: 1.4;
    }
    p:not(:last-child) {
      margin-bottom: fluid(24, 32);
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      min-height: rem(200);
      border-radius: rem(16);
    }

    @include medium {
      padding-block: rem(24);
    }
  }
}
