@use "../helpers/" as *;

.compare {
  padding-block: fluid(40, 90);

  &__container {
    max-width: rem(1560);
    padding: 0 rem(20);
    margin: 0 auto;
  }

  &__header {
    text-align: center;

    & > {
      color: var(--color-dark);
      font-weight: 700;
      line-height: 1.25;
    }
  }

  &__title {
    font-size: fluid(18, 32);
    margin-bottom: fluid(12, 24);
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: fluid(28, 60);
    margin-bottom: 0;
  }

  &__body {
    margin-block: fluid(30, 60);
    overflow: auto;

    @media (max-width: 33.75rem) {
      margin-right: rem(-20);
    }
  }

  &__table {
  }

  &__footer {
    max-width: rem(688);
    margin: 0 auto;
    text-align: center;
    @include small {
      font-size: rem(14);
    }
  }
}

.table-compare {
  width: 100%;
  min-width: rem(520);

  &__header {
    margin-bottom: fluid(8, 28);
    column-gap: rem(12);
    align-items: center;
    display: flex;

    @include small {
      display: grid;
      grid-template-columns: rem(80) 1fr 1fr;
    }
  }

  &__header-title {
    color: var(--color-dark);
    font-size: fluid(14, 32);
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 0;

    @include medium {
      font-size: rem(18);
    }

    @include small {
      font-size: rem(13);
      text-align: left;
    }
  }

  &__header-category {
    text-align: left;
    min-width: fluid(100, 200);
    flex-grow: 1;

    @include small {
      flex-grow: 0;
    }
  }

  &__header-column {
    padding: fluid(6, 40) fluid(8, 20);
    flex: 0 1 rem(494);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(24);

    @include small {
      border-radius: rem(8);
      padding: rem(6) rem(8);
      flex: 0 1 auto;
      margin-right: auto;
    }

    &--1 {
      background-color: #d3ecf2;
    }
    &--2 {
      background-color: #ecf6e8;
    }
  }

  &__body {
  }

  &__body-row {
    padding-block: rem(8);
    display: flex;
    column-gap: rem(12);
    &:not(:last-child) {
      border-bottom: rem(1) solid var(--color-secondary-light);
    }

    @include small {
      display: grid;
      grid-template-columns: rem(80) 1fr 1fr;
    }
  }

  &__body-category {
    color: var(--color-dark);
    font-size: fluid(14, 32);
    font-weight: 700;
    line-height: 1.25;
    flex-grow: 1;
    min-width: fluid(100, 200);

    @include small {
      min-width: auto;
      font-size: rem(14);
    }
  }

  &__body-text {
    color: var(--color-dark);
    font-size: fluid(14, 20);
    line-height: 1.3;
    flex: 0 1 rem(494);
    padding-inline: rem(40);

    @include small {
      font-size: rem(14);
      padding-inline: 0;
    }
  }
}
