.custom-scrollbar {
  --sb-track-color: #ecf6e8;
  --sb-thumb-color: #6dbf46;
  --sb-size: 13px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 37px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border: 4px solid #ecf6e8;
  border-radius: 37px;
}

@supports not selector(::-webkit-scrollbar) {
  .custom-scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
