@use "../helpers/" as *;

.header {
  padding-top: fluid(16, 48);
  position: absolute;
  width: 100%;
  z-index: 9999;

  &--default {
    background-color: #ffffff5b !important;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    padding: fluid(16, 32) 0;
    border-radius: 0px 0px 60px 60px;

    @include above-large {
      box-shadow: none;
      backdrop-filter: blur(7px);
    }
  }

  &__container {
    align-items: center;
    column-gap: rem(60);
    display: flex;
    @include large {
      justify-content: space-between;
    }
  }

  &__logo-wrapper {
    flex-shrink: 0;
    max-width: fluid(142, 196);
    position: relative;
    z-index: 101;
  }

  &__logo {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  &__nav {
    @include large {
      display: none;
    }
  }

  &__nav-list {
    align-items: center;
    display: flex;
    gap: rem(16) rem(32);
  }

  &__nav-item {
    &.menu-item-has-children {
      position: relative;

      & > a {
        display: flex;
        flex-direction: row-reverse;
        column-gap: rem(6);
        align-items: center;

        &::before {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke-width%3D%220%22%2F%3E%3Cg%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M5.707%209.71a1%201%200%200%200%200%201.415l4.892%204.887a2%202%200%200%200%202.828%200l4.89-4.89a1%201%200%201%200-1.414-1.415l-4.185%204.186a1%201%200%200%201-1.415%200L7.121%209.71a1%201%200%200%200-1.414%200%22%20fill%3D%22%23121212%22%2F%3E%3C%2Fsvg%3E");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: rem(20);
          height: rem(20);
          transition: transform 0.3s ease;
        }
      }

      &.is-active {
        & > a {
          &::before {
            transform: rotate(180deg);
          }
        }

        ul {
          opacity: 1;
          visibility: visible;
        }
      }

      @include hover {
        & > a {
          &::before {
            transform: rotate(-180deg);
          }
        }

        ul {
          opacity: 1;
          visibility: visible;
        }
      }

      ul {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--color-white);
        padding: rem(16);
        min-width: rem(180);

        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;

        li {
          a {
          }
        }
      }
    }
  }

  &__nav-link {
    font-size: rem(18);
    font-weight: 500;
    line-height: 1.22;
    position: relative;
    padding-block: rem(6);

    &::after {
      background-color: var(--color-primary);
      content: "";
      height: rem(2);
      left: 50%;
      position: absolute;
      top: calc(100% + rem(6));
      transform: translateX(-50%);
      transition: all 0.3s ease;
      width: 0;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__link {
    margin-left: auto;
    @include large {
      display: none;
    }
  }

  &__button {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: rem(40);
    justify-content: center;
    position: relative;
    row-gap: rem(6);
    width: rem(40);
    z-index: 101;

    span {
      background-color: var(--color-dark);
      border-radius: rem(50);
      height: rem(3);
      transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        background-color 0.3s ease;
      width: rem(30);
    }

    &.is-active {
      span:nth-child(1) {
        transform: rotate(45deg) translateY(rem(6));
      }

      span:nth-child(2) {
        transform: rotate(-45deg) translateY(rem(-6));
      }
    }
    @include above-large {
      display: none;
    }
  }
  @include large {
    background-color: var(--color-white);
    border-radius: 0 0 32px 32px;
    box-shadow: var(--shadow);
    padding-bottom: rem(16);
  }
}
.header-overlay {
  background-color: var(--color-white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: auto;
  padding: rem(183) rem(15) 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: transform 0.3s ease;
  width: 100%;
  z-index: 100;

  @include above-large {
    display: none;
  }

  &:not(.is-active) {
    transform: translateX(100%);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__nav {
    flex-grow: 1;
    margin-bottom: rem(40);
  }

  &__nav-list {
  }

  &__nav-item {
    &:not(:last-child) {
      margin-bottom: rem(36);
    }
  }

  &__nav-link {
    font-size: rem(28);
    font-weight: 700;
    line-height: 1.14;
  }

  &__buttons {
    justify-content: center;
    margin-bottom: rem(24);
    margin-top: auto;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: rem(12) rem(40);
    justify-content: center;
    padding-bottom: rem(30);
  }

  &__contacts {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: rem(8);

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--color-primary);
      }
    }
  }

  &__contacts-number {
    font-size: rem(28);
    font-weight: 700;
    line-height: 1.14;
  }

  &__contacts-email {
    font-size: rem(16);
    line-height: 1.4;
  }

  &__socials {
    display: flex;
    gap: rem(8) rem(24);
  }

  &__socials-link {
    background-color: var(--color-white);
    border-radius: 100%;
    flex-shrink: 0;
    height: fluid(40, 60);
    width: fluid(40, 60);
  }

  &__socials-icon {
    height: 100%;
    width: 100%;
  }
}
