@use "../helpers/" as *;

.hero {
  &__inner {
    padding-bottom: fluid(0, 180);
    padding-top: fluid(120, 300);
    position: relative;
    @include large {
      padding-top: rem(170);
    }
    @include medium {
      padding-bottom: 0;
    }
    @include x-small {
      padding-top: rem(120);
    }
  }

  &__content {
    max-width: 52%;
    position: relative;
    z-index: 3;

    p:has(strong) {
      font-size: fluid(18, 24) !important;
      margin-bottom: fluid(12, 16) !important;
    }
    @include medium {
      max-width: 100%;
    }
  }

  &__buttons {
    margin-top: fluid(12, 40);
  }

  &__image {
    border-radius: 0 rem(60) rem(60);
    max-width: 46%;
    position: absolute;
    right: 0;
    top: 0;

    &_mobile {
      display: block;
      max-width: 100%;
      position: relative;
      z-index: 1;
      @include above-medium {
        display: none;
      }
    }
    @include medium {
      display: none;
    }
  }

  &__vector {
    left: 19%;
    position: absolute;
    top: 0;
    width: fluid(200, 827);
    z-index: 2;

    &_mobile {
      display: block;
      left: 0;
      width: 100%;
      @include above-medium {
        display: none;
      }
    }
    @include medium {
      display: none;
    }
  }
}
