@use "../helpers/" as *;

.hero {
  &__inner {
    position: relative;
    padding-top: fluid(120, 300);
    padding-bottom: fluid(0, 180);

    @include medium {
      padding-bottom: 0;
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    max-width: 52%;
    @include medium {
      max-width: 100%;
    }

    p:has(strong) {
      margin-bottom: fluid(12, 16) !important;
      font-size: fluid(18, 24) !important;
    }
  }
  &__content-inner {
    @include medium {
      margin-bottom: rem(20);
    }
  }

  &__buttons {
    margin-top: fluid(12, 40);
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 46%;
    border-radius: 0 rem(60) rem(60);

    &_mobile {
      position: relative;
      z-index: 1;
      display: block;
      max-width: 100%;
      @include above-medium {
        display: none;
      }
    }
    @include medium {
      display: none;
    }
  }

  &__vector {
    position: absolute;
    top: 0;
    left: 19%;
    z-index: 2;
    width: fluid(200, 827);
    @include medium {
      display: none;
    }

    &_mobile {
      left: 0;
      display: block;
      width: 100%;
      @include above-medium {
        display: none;
      }
    }
  }
}
