@use "../helpers/" as *;

.image-accordion {
  background-color: var(--color-primary-light);
  border-radius: rem(100) rem(100) 0 0;

  &--white {
    background-color: var(--color-white);
  }

  &--reverse {
    .image-accordion__list {
      order: 2;
    }
  }

  @include medium {
    border-radius: rem(32) rem(32) 0 0;
  }

  &__container {
    max-width: rem(1560);
    margin: 0 auto;
    padding: 0 rem(20);
  }

  &__header {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: rem(24);
    margin-bottom: fluid(30, 60);

    h2 {
      text-transform: uppercase;
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: 0;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(32) fluid(16, 93);
    align-items: center;

    @include medium {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: fluid(16, 32);
  }

  &__list-item {
  }

  &__list-button {
    width: 100%;
    text-align: left;
    color: var(--color-dark);
    font-size: fluid(20, 24);
    font-weight: 700;
    line-height: 1.25;
    &::before {
      transform: rotate(180deg);
    }

    &.is-active {
      &::before {
        transform: rotate(0deg);
      }
    }
  }

  &__list-panel {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
  }

  &__list-panel-content {
    padding-top: fluid(8, 16);

    p:not(:last-child) {
      margin-bottom: fluid(8, 16);
    }

    ul {
      padding-left: rem(28);
    }
    li {
      list-style: disc outside !important;

      &::marker {
        font-size: rem(16);
      }

      &:not(:last-child) {
        margin-bottom: fluid(8, 12);
      }
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
