@use "../helpers/" as *;

.partners {
  position: relative;
  padding-bottom: fluid(40, 180);
  background-color: var(--color-light);
  border-radius: rem(100) rem(100) 0 0;

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__vector {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: auto;
    height: auto;

    &_left {
      bottom: rem(20);
      left: 0;
    }

    &_right {
      right: 0;
      bottom: fluid(30, 130);
    }
  }

  &__header {
    margin-bottom: fluid(45, 75);
    text-align: center;
    padding: 0 rem(16);

    h3 {
      margin-bottom: 0;
    }
  }

  &__list {
    transition-timing-function: linear;
  }

  &__item {
    width: fluid(120, 190) !important;
    height: rem(50) !important;
    object-fit: contain;
  }

  &__body {
    display: flex;
    gap: rem(34) fluid(34, 217);
    align-items: center;
    margin-top: fluid(60, 180);
    @include large {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    overflow: hidden;
    border-radius: rem(60);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include medium {
      border-radius: rem(16);
    }
  }

  &__content {
    flex: 0 1 rem(535);

    @include large {
      flex: 0 1 auto;
    }

    @include x-small {
      text-align: center !important;
    }

    h2 {
      text-transform: uppercase;
    }

    h3 {
      margin-bottom: rem(24);
    }
  }

  &__buttons {
    flex-wrap: wrap;
  }
  @include medium {
    border-radius: 0;
  }
}
