@use "../helpers/" as *;

.plans {
  &__header {
    padding-inline: calc((100% - rem(1550)) / 2);
    margin-inline: rem(15);
    margin-bottom: fluid(40, 60);
  }
  &__title {
    margin-bottom: rem(16);
  }
  &__text {
  }
}

.plan {
  &:first-child {
    .plan__header-inner {
      border-top: rem(3) solid var(--color-secondary-light);
      @include small {
        border-top: rem(2) solid var(--color-secondary-light);
      }
    }
  }

  &_white {
    .plan__content,
    .acc-default__list {
      padding-block: 0;
      background-color: #fff;
    }
  }

  &__header {
    width: 100%;
    padding-inline: calc((100% - rem(1550)) / 2);
    transition: background-color 0.3s ease;

    &.is-active {
      background-color: var(--color-secondary-light);

      .plan__icon {
        background-color: var(--color-primary);

        span {
          background-color: var(--color-white);

          &.ver {
            transform: translate(-50%, -50%) rotate(0);
          }
        }
      }
    }
  }

  &__header-inner {
    display: grid;
    grid-template-columns: 37% 1fr rem(60);
    gap: rem(10) rem(20);
    padding: fluid(25, 32) 0;
    margin-inline: rem(15);
    border-bottom: rem(3) solid var(--color-secondary-light);
    transition: all 0.3s ease;
    @include small {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: 1fr rem(40);
      align-items: center;
      border-bottom: rem(2) solid var(--color-secondary-light);
    }
  }

  &__title {
    column-gap: rem(26);
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
  }

  &__text {
    width: 100%;
    line-height: 1.3;
    text-align: left;

    &-inner {
      max-width: rem(478);
    }
    @include small {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
    }
  }

  &__icon {
    position: relative;
    align-self: center;
    width: 100%;
    height: rem(60);
    margin-left: auto;
    border: rem(3) solid var(--color-primary);
    border-radius: 50%;
    transition: all 0.3s ease;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(24);
      height: rem(3);
      background-color: var(--color-primary);
      border-radius: rem(20);
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;

      &.hor {
      }

      &.ver {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      @include small {
        width: rem(14);
        height: rem(2);
      }
    }
    @include small {
      height: rem(40);
      border: rem(2) solid var(--color-primary);
    }
  }

  &__content {
    max-height: 0;
    padding-inline: calc((100% - rem(1550)) / 2);
    overflow: hidden;
    transition: max-height 0.3s ease;
    will-change: auto;
    &.is-active {
      margin-bottom: rem(18);
    }
  }
}
