@use "../helpers/" as *;

.plans {
  &__title {
    padding-inline: calc((100% - rem(1550)) / 2);
    margin-inline: rem(15);
  }
}

.plan {
  &:first-child {
    .plan__header-inner {
      border-top: rem(3) solid var(--color-secondary-light);
    }
  }
  &:not(:last-child) {
    margin-bottom: rem(18);
  }
  &__header {
    transition: background-color 0.3s ease;
    padding-inline: calc((100% - rem(1550)) / 2);
    &.is-active {
      background-color: var(--color-secondary-light);
      .plan__icon {
        background-color: var(--color-primary);
        span {
          background-color: var(--color-white);
          &.ver {
            transform: translate(-50%, -50%) rotate(0);
          }
        }
      }
    }
  }
  &__header-inner {
    border-bottom: rem(3) solid var(--color-secondary-light);
    display: flex;
    align-items: flex-start;
    gap: rem(10) rem(20);
    padding: fluid(25, 32) 0;
    margin-inline: rem(15);
    transition: all 0.3s ease;

    @include small {
      flex-wrap: wrap;
      align-items: center;
    }
  }
  &__title {
    text-transform: uppercase;
    flex: 0 1 37%;
    column-gap: rem(26);
    text-align: left;
    margin-bottom: 0;
    @include small {
      flex: 0 1 auto;
    }
  }
  &__text {
    text-align: left;
    flex: 0 1 rem(476);
    line-height: 1.3;
    @include small {
      flex: 0 1 100%;
      order: 3;
    }
  }
  &__icon {
    position: relative;
    flex: 0 0 fluid(40, 60);
    height: fluid(40, 60);
    margin-left: auto;
    border: rem(3) solid var(--color-primary);
    border-radius: 50%;
    align-self: center;
    @include small {
      border: rem(2) solid var(--color-primary);
    }
    transition: all 0.3s ease;

    span {
      transition: all 0.3s ease;
      background-color: var(--color-primary);
      border-radius: rem(20);
      width: rem(24);
      height: rem(5);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include small {
        width: rem(14);
        height: rem(2);
      }
      &.hor {
      }
      &.ver {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    will-change: auto;
    transition: max-height 0.3s ease;
    padding-inline: calc((100% - rem(1550)) / 2);
  }
  &__content-inner {
  }
}
