@use "../helpers/" as *;

.steps {
  h2 {
    padding: 0 rem(16);
  }

  &__container {
    @media (max-width: 1200px) {
      padding: 0;
    }
  }

  &__slider {
    width: 100%;
    padding-block: rem(16);
    margin-block: rem(-16);
    overflow: hidden;
    padding-inline: rem(16);
  }

  &__slider-wrapper {
    display: flex;
    width: 100%;
  }

  &__pagination {
    position: static;
    margin-top: rem(24);
    .swiper-pagination-bullet {
      width: rem(10);
      height: rem(10);
      opacity: 0.3 !important;
      border: rem(2) solid var(--color-dark) !important;
      background-color: transparent;
      &.swiper-pagination-bullet-active {
        background-color: var(--color-dark);
      }
    }
  }
}

.step {
  flex-shrink: 0;
  overflow: hidden;
  border-bottom-right-radius: rem(32);
  border-bottom-left-radius: rem(32);
  box-shadow: var(--shadow);

  &:nth-child(1) {
    .step__image {
      height: rem(413);
      border-top-left-radius: rem(32);
      @include small {
        height: rem(240);
        border-top-left-radius: rem(16);
      }
      @include x-small {
        height: rem(175);
      }
    }
  }

  &:nth-child(2) {
    .step__image {
      height: rem(317);
      @include small {
        height: rem(240);
      }
      @include x-small {
        height: rem(175);
      }
    }
  }

  &:nth-child(3) {
    .step__image {
      height: rem(221);
      border-top-right-radius: rem(32);
      @include small {
        border-top-right-radius: rem(16);
        height: rem(240);
      }
      @include x-small {
        height: rem(175);
      }
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__body-inner {
    position: relative;
    z-index: 2;
    padding: fluid(16, 24) fluid(12, 24);
    background-color: var(--color-primary-light);
    border-bottom-right-radius: rem(32);
    border-bottom-left-radius: rem(32);
  }

  &__title {
    margin-bottom: rem(16);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16);
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    column-gap: rem(6);
    align-items: center;
    padding: rem(3);
    font-weight: 700;
    transition: color 0.3s ease;

    &::before {
      width: fluid(16, 24);
      height: fluid(16, 24);
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M12%204C12%203.44772%2011.5523%203%2011%203C10.4477%203%2010%203.44772%2010%204L12%204ZM10.2929%2020.7071C10.6834%2021.0976%2011.3166%2021.0976%2011.7071%2020.7071L18.0711%2014.3431C18.4616%2013.9526%2018.4616%2013.3195%2018.0711%2012.9289C17.6805%2012.5384%2017.0474%2012.5384%2016.6569%2012.9289L11%2018.5858L5.34315%2012.9289C4.95262%2012.5384%204.31946%2012.5384%203.92893%2012.9289C3.53841%2013.3195%203.53841%2013.9526%203.92893%2014.3431L10.2929%2020.7071ZM10%204L10%2020L12%2020L12%204L10%204Z%22%20fill%3D%22%2321A0BE%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    @include hover {
      color: var(--color-secondary);
    }
  }

  &__description-wrapper {
    max-height: 0;
    overflow: hidden;
    border-bottom-right-radius: rem(32);
    border-bottom-left-radius: rem(32);
    transition: max-height 0.4s ease;
    will-change: auto;
  }

  &__description-outer {
    padding: rem(55) 0 fluid(20, 40);
    margin-top: rem(-40);
  }

  &__description {
    max-height: rem(360);
    padding-right: fluid(24, 32);
    margin: 0 fluid(16, 24);
    overflow: auto;
    font-size: fluid(16, 18);
    line-height: 1.4;

    ul:not(:last-of-type) {
      margin-bottom: fluid(16, 28);
    }

    a:not([class]) {
      text-decoration: underline;
    }

    ul {
      padding-left: rem(20);
      list-style-type: disc;

      li {
        &::marker {
          font-size: rem(12);
        }
      }
    }
  }
}
