@use "helpers" as *;

html.is-lock {
  overflow: hidden;
}

body {
  color: var(--color-dark);
  font-family: var(--font-family-base);
  font-size: fluid(16, 20);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  main {
    flex-grow: 1;
  }
}

h1, .h1, //
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;
}

h1,
.h1 {
  font-size: fluid(36, 85);
  line-height: 1;
  margin-bottom: fluid(12, 24);
}

h2,
.h2 {
  font-size: fluid(28, 60);
  line-height: 1.1;
  margin-bottom: fluid(40, 60);
}

h3,
.h3 {
  font-size: fluid(18, 32);
  line-height: 1.25;
  margin-bottom: fluid(12, 24);
}

h4,
.h4 {
  font-size: fluid(16, 20);
  line-height: 1.3;
  margin-bottom: rem(12);
}

h5,
.h5 {
  font-size: fluid(16, 20);
  line-height: 1.3;
  margin-bottom: rem(12);
}

p {
  line-height: 1.3;
}

p:not(:last-child):not([class]) {
  margin-bottom: fluid(12, 24);
}

a:not([class]) {
  transition: color 0.3s ease;
  @include hover {
    color: var(--color-secondary);
  }
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--container-padding-x);
}

.section-padding {
  padding-block: fluid(40, 90);

  &_top {
    padding-bottom: 0;
  }

  &_bottom {
    padding-top: 0;
  }
}

@include medium {
  br {
    display: none !important;
  }
}
