@use "fonts";
@use "reset";
@use "variables";
@use "utils";
@use "globals";
@use "typography";
@use "helpers" as *;

// Importing components
@use "components/buttons";
@use "components/base-page";
@use "components/back-top";
@use "components/hero";
@use "components/grid";
@use "components/steps";
@use "components/custom-scrollbar";
@use "components/plans";
@use "components/acc-default";
@use "components/acc-grid";
@use "./components/footer";
@use "./components/header";
@use "./components/partners";
@use "./components/acc-details";
@use "./components/acc-content";
@use "./components/acc-list";
@use "./components/blog";
@use "./components/single";
@use "./components/base-row";
@use "./components/acc-base";
@use "./components/enroll";
@use "./components/simple-grid";
@use "./components/base-cta";
@use "./components/grid-alt";
@use "./components/column-tabs";
@use "./components/bio";
@use "./components/marquee";
@use "./components/contact-cta";
@use "./components/about";
@use "./components/compare";

@import "/node_modules/swiper/swiper.min.css";
@import "/node_modules/swiper/modules/pagination/pagination.min.css";

.plan.plan_alt .acc-default__list {
  padding-top: 1.5rem !important;
  flex: 0 1 50%;
  padding-bottom: 1.5rem !important;
}
.plan.plan_alt .acc-base {
  max-width: 27.875rem;
  position: relative;
  z-index: 2;
}
.plan.plan_alt .acc-base strong {
  font-size: clamp(1.25rem, 1.1585rem + 0.3902vw, 1.5rem);
}
.plan.plan_alt .acc-default__content {
  position: relative;
  padding-bottom: 1.5rem;
}
.plan.plan_alt .acc-default__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  background-color: #ecf6e8;
  border-radius: 0 0 1.5rem 1.5rem;
}
.plan.plan_alt .acc-base ul {
  padding-left: 0;
}
.plan.plan_alt .acc-base li {
  list-style: none;
  position: relative;
  z-index: 2;
  padding-left: 1.875rem;
}
.plan.plan_alt .acc-base li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.plan.plan_alt .acc-base li::before {
  content: "";
  position: absolute;
  top: 0.4375rem;
  left: 0;
  width: 1.25rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2216%22%20viewBox%3D%220%200%2021%2016%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M20.33%201.743a1.88%201.88%200%200%200-.624-1.284%201.73%201.73%200%200%200-1.344-.451%201.8%201.8%200%200%200-1.272.618l-9.6%2010.693-4.392-3.945A1.84%201.84%200%200%200%201.754%206.9a1.8%201.8%200%200%200-1.272.594%201.8%201.8%200%200%200-.48%201.33c.024.5.24.951.6%201.26l5.784%205.204c.336.31.792.475%201.248.475h.12c.48-.023.936-.237%201.296-.617L19.898%203.05c.288-.357.456-.832.432-1.307%22%20fill%3D%22%236dbf46%22%2F%3E%3C%2Fsvg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
