@use "helpers" as *;

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.inline-icon {
  --size: #{rem(30)};
  --gap: #{rem(10)};
  align-items: center;
  column-gap: var(--gap);

  display: inline-flex;

  &::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    flex-shrink: 0;
    height: var(--size);
    // background-image: url(""); // inline svg

    width: var(--size);
  }
}
