@use "helpers" as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip: rect(0, 0, 0, 0);
}

.inline-icon {
  --size: #{rem(30)};
  --gap: #{rem(10)};

  display: inline-flex;
  column-gap: var(--gap);
  align-items: center;

  &::after {
    flex-shrink: 0;
    // background-image: url(""); // inline svg

    width: var(--size);
    height: var(--size);
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
