@use "helpers" as *;

:root {
  --color-dark: #121212;
  --color-white: #fff;
  --color-light: #e7f2f5;
  --color-primary: #6dbf46;
  --color-primary-opacity: #6cbf467a;
  --color-secondary: #21a0be;
  --color-primary-light: #ecf6e8;
  --color-secondary-light: #d3ecf2;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  --border-radius-base: #{rem(24)};

  --font-family-base: "Gilroy", sans-serif;

  --container-width: #{rem(1550)};
  --container-padding-x: #{rem(15)};
}
